USE [master]
GO
/****** Object:  Database [Maturix]    Script Date: 11/04/2025 11.54.31 ******/
CREATE DATABASE [Maturix]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Maturix', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Maturix.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Maturix_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Maturix_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Maturix].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Maturix]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 11/04/2025 11.54.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[Category_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 11/04/2025 11.54.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[Department_ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Department_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 11/04/2025 11.54.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[Employee_ID] [int] IDENTITY(1,1) NOT NULL,
	[Initials] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Department_ID] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG]    Script Date: 11/04/2025 11.54.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG](
	[Log_ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NULL,
	[Description] [nvarchar](255) NULL,
	[Shift_ID] [int] NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[Log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHIFT]    Script Date: 11/04/2025 11.54.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIFT](
	[Shift_ID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftDate] [date] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[Employee_ID] [int] NULL,
	[Category_ID] [int] NULL,
 CONSTRAINT [PK_Shift] PRIMARY KEY CLUSTERED 
(
	[Shift_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([Category_ID], [Name]) VALUES (1, N'Job')
INSERT [dbo].[CATEGORY] ([Category_ID], [Name]) VALUES (2, N'Event')
INSERT [dbo].[CATEGORY] ([Category_ID], [Name]) VALUES (3, N'Workshop')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([Department_ID], [DepartmentName]) VALUES (1, N'Warehouse')
INSERT [dbo].[DEPARTMENT] ([Department_ID], [DepartmentName]) VALUES (2, N'Support')
INSERT [dbo].[DEPARTMENT] ([Department_ID], [DepartmentName]) VALUES (3, N'Marketing')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([Department_ID])
REFERENCES [dbo].[DEPARTMENT] ([Department_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[LOG]  WITH CHECK ADD  CONSTRAINT [FK_Log_Shift] FOREIGN KEY([Shift_ID])
REFERENCES [dbo].[SHIFT] ([Shift_ID])
GO
ALTER TABLE [dbo].[LOG] CHECK CONSTRAINT [FK_Log_Shift]
GO
ALTER TABLE [dbo].[SHIFT]  WITH CHECK ADD  CONSTRAINT [FK_Shift_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[CATEGORY] ([Category_ID])
GO
ALTER TABLE [dbo].[SHIFT] CHECK CONSTRAINT [FK_Shift_Category]
GO
ALTER TABLE [dbo].[SHIFT]  WITH CHECK ADD  CONSTRAINT [FK_Shift_Employee] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[EMPLOYEE] ([Employee_ID])
GO
ALTER TABLE [dbo].[SHIFT] CHECK CONSTRAINT [FK_Shift_Employee]
GO
USE [master]
GO
